body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

.login-box {
    width: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom: 20px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    outline: none;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #fff;
    color: #000;
}
label {
    display: block;
    color: white;
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
}