<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springpractice.mapper.BoardMapper">
    <insert id="insertBoard" parameterType="com.example.springpractice.dto.Board">
        insert into board(user_id,title,content) values (#{userId},#{title},#{content})
    </insert>
    <select id="getBoardList">
        select id,title,content,user_id as userId,create_at as time from board
    </select>
    <select id="getMyBoardList" parameterType="int">
        select id,title,content,user_id as userId,create_at as time from board where user_id = #{userId}
    </select>
    <select id="getBoard" parameterType="int">
        select id,title,content,user_id as userId,create_at as time from board where id = #{id}
    </select>
    <update id="updateBoard" parameterType="com.example.springpractice.dto.Board">
        update board set title = #{title} , content = #{content} where id = #{id}
    </update>
    <delete id="deleteBoard" parameterType="int">
        delete from board where id = #{id}
    </delete>
</mapper>