<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springpractice.mapper.CommentMapper">
    <insert id="insertComment" parameterType="com.example.springpractice.dto.Comment">
        insert into comments(user_id,board_id,content) values (#{userId},#{boardId},#{content})
    </insert>
    <select id="getComments" parameterType="int">
        select id, user_id userId , content , created_at time from comments where board_id = #{boardId}
    </select>
    <delete id="deleteComment" parameterType="int">
        delete from comments where id = #{commentId}
    </delete>
    <select id="getComment" parameterType="int" resultType="com.example.springpractice.dto.Comment">
        select * from comments where id = #{commentId}
    </select>
    <update id="incrementLikes" parameterType="com.example.springpractice.dto.Comment">
        update comments set likes = #{likes} where id=#{id}
    </update>
</mapper>